


body {
    height: 100vh;
    width: 100vw; 
    padding: 0;
    margin: 0;
    overflow: hidden; 
}

article {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.125rem; 
    line-height: 1.6;
}

header {
    margin: 0; 
    padding: 0; 
    background-color: white; 
}

h1 {
    margin: 1.5rem 0rem 0rem 0rem;
    padding: 0;

}

h2 {
    font-size: 22px; 
    font-weight: 200;
    margin: 0.1rem 0rem 1rem ; 
    padding: 0;  
}


a {
    text-decoration: none; 
}

header#big-left{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0.8rem 1rem -0.5rem 1rem; 
}


span#whitespace {
    white-space: pre;   
}

hr.horizontal { 
    width: 100%;
    color: lightgrey; 
}



#topnav {
    height: 3rem; 
    width: 100%; 
    background-color: #071c2e; 
}

#mainnav {
    display: inline-block; 
    
}

#pagenav {
    position: absolute; 
    height: 4%;
    width: 100%;
    left: 2%;
    background-color:whitesmoke; 
}

.page-container{ 
    display:flex;
    height: 100%;
    width:  100%;
    margin: 0rem 0rem 0rem 1rem; 
    background-color: whitesmoke; 
    border-left: lightgrey; 
    border-left-style: solid; 
    border-width: thin;
}

.container {
    
}

.link {
    color: darkblue; 
}

.link-content {
    position: relative; 
    top: 18%;
    left: 6%;
    letter-spacing: -0.5px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold; 

}


#container-big-right {
    
}

#container-big-left {
    position: relative;
    top:5%;
    left: 1%;  
    margin: 0% 0% 0% 0%;
    height:88%;
    width: 38%;
    border-style:solid;
    border-color: lightgrey; 
    border-width: thin; 
    background-color: white;
}

#container-small {
    display: flex; 
    position: relative;
    top: 0%; 
    height:70%;
    width: 100%;
    margin: 1rem 0rem; 
    background-color: white;
}   

#container-smaller {
    height: 88%;
    min-width: 40%;
    border-style: solid; 
    border-width: thin; 
    border-color: lightgrey;
    margin: 1.5rem 1.2rem; 
    background-color: white; 
}
 
article#main {
    text-align: left; 
    height: 100%;
    max-width: 55%;
    margin: 0rem 1rem 1rem 1rem; 
}

img#second {
    height: 35%;
    min-width:85%;
    margin: 1rem 1rem 4rem 1.5rem;
    object-fit: cover;  
}

div#image-text{
    position: relative; 
    bottom: 12%;
    left: 9%;
    height: 55%;
    width: 85%;
    background-color: white; 
    font-size: 13.5px; 
    font-family:sans-serif;
}



p#image-tag {
    text-align: left; 
   
}

p#media {
    margin: 0;
    padding: 0;
   text-align: center;  
}

span#Times{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-style: italic;  

}

p#credits {
    font-family: sans-serif; 
    font-size: 12px; 
}

p#pagenav-text {
    font-family: sans-serif;
    font-size: 11px; 
}


ul#image-description {
    list-style-type: none;
    display: inline; 
}

li#image-description {
    display: inline; 
}

span#small-black-circle  {
    position: relative; 
    font-size: 5px;
    bottom: 3px;
}

#box-link {
    position: relative; 
    left: 15%;
    bottom: 18.5%; 
    border-style: solid;
    border-radius: 10px;  
    border-width: thin; 
    border-color: lightgrey; 
    height: 7%;
    width: 70%;
   
}

#box-link-flex-1 {
    display: inline-block; 
    border-style: solid;
    border-radius: 10px; 
    border-color:lightgrey; 
    min-height: 1.8rem;
    max-width: 4rem;
}

#box-link-flex-2 {
    display: inline-block; 
    border-style: solid;
    border-radius: 10px;  
    border-color:lightgrey;
    border-width: thin;
    min-height: 1.8rem;
    max-width: 4rem; }

#box-link-flex-3 {
    display: inline-block; 
    border-style: solid;
    border-radius: 10px;  
    border-color:lightgrey;
    border-width: thin;
    min-height: 1.8rem;
    max-width: 4rem;
}
#box-link-flex-4 {
    display: inline-block; 
    border-style: solid;
    border-radius: 10px;  
    border-color:lightgrey;
    border-width: thin;
    min-height: 1.8rem;
    max-width: 4rem;
}
#box-link-flex-5 {
    display: inline-block; 
    border-style: solid;
    border-radius: 10px;  
    border-color:lightgrey;
    border-width: thin; 
    min-height: 1.8rem;
    max-width: 4rem;
}
*/

#box-link a{
    position: relative; 
    top: 20%;
    left: 5%; 
    text-align: center;
    font-family: sans-serif; 
    font-size: 13px;
    font-weight: bold; 

}


@media only screen and (max-width: 1700px) {

    body {
        background-color: red; 
        overflow:scroll;
    }

    article#main {
        position: absolute; 
        text-align: center;
        text-align: justify;
        min-width: 90%; 

        left: 0rem; 
          
    }

  

    .page-container {
        position: absolute; 
        right: 0.1rem; 
        height: 100%;
        width: 100%;
    }

    #pagenav {
        position: absolute; 
        height: 4%;
        width: 50%;
        left: 15%;
        background-color: red; 
    }

    #container-smaller {
        position: absolute; 
        bottom: 12rem; 
        height: 88%;
        min-width: 40%;
        border-style: solid; 
        border-width: thin; 
        border-color: lightgrey;
        margin: 1.5rem 1.2rem; 
        background-color: white; 
    }



     
}




/*smartphones and tablets*/


@media only screen and (max-width: 800px) {

    body {
        background-color: whitesmoke; 
        overflow:scroll;
    }

    article#main {
        position: absolute; 
        text-align: center;
        text-align: justify;
        min-width: 90%; 
        bottom: 0rem; 
        left: 0rem; 
          
    }

    header#big-left{
        position: absolute;
        bottom: 94em;
        border-style: solid; 
        border-width: thin; 
        border-color: lightgrey;
        padding: 0rem 1rem; 
        margin: 0rem 0.8rem 0rem 0rem; 
        min-width: 90%;  
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .page-container {
        position: absolute; 
        right: 0.1rem; 
        height: 100%;
        width: 100%;
    }

    #pagenav {
        position: absolute; 
        height: 4%;
        width: 50%;
        left: 15%;
        background-color:whitesmoke; 
    }



    #container-smaller {
        position: absolute;  
        bottom: 44em;    
        height: 100%;
        min-width: 100%;
        margin: 0rem 0.8rem 0rem 0rem; 
        border-style: solid; 
        border-width: thin; 
        border-color: lightgrey;
        background-color: white; 
    }


    #container-small {
        display: flex; 
        position: absolute;
        bottom: 0em; 
        height: 84%;
        width: 100%;
        margin: 1rem 0rem; 
        background-color: white;
    }   

    #container-big-left {
        top: 60rem; 
        left: 1em;  
        height:100%;
        min-width: 90%;



        border-style:solid;
        border-color: lightgrey; 
        border-width: thin; 
        background-color: white;
    }

     
}